{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tweet_sentiment/style.css' %}">

<html>
    <head>
        <meta charset="utf-8">
        <title>Temperature of the Room</title>
    </head>
    <body>
        <div id="maindiv">
            <h1>
                Tweet Sentiment Analysis
            </h1>
            <div id="synopsis">
                <p> 
                This webapp uses the Twitter Search API to get tweets based on 
                a given search term, sends the Tweets to the Text-Processing 
                Sentiment Analysis API, and returns the results. The Sentiment 
                Analysis API uses NTLK 2.0.4 powered process to classify text 
                as positive, negative, or neutral.
                </p>
            </div>
            <p>Enter a search query below:</p>
            <form action="results" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>